@import 'vars';
@import 'modules/lightbox';

h1, h2, h3, h4, h5, h6, p, span, input, textarea {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 300;
}

video { 
    max-width: 70%; 
    display: block;
    margin: 0 auto;
}

*,
*::before,
*::after {
  box-sizing: inherit; }


// Header Section
.wrapper { overflow: hidden; }

.mainHeader {
    background-image: url(../images/homeIntro-mobile.png);
    width: 375px;
    height: 234px;
}

#headerLogo { 
    width: 100px; 
    margin-left: 20px;
}

.homeText { 
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;

    color: white;
    text-align: center;
}

//navbar

#mainNav {
    display: flex;
    flex-direction: column;
  }

#burgerCon {
    display: none;
    margin-top: 5px;
  }
  
#burgerCon.slideToggle { display: block; }

#mainNav button {
    background: url(../images/burgerCon.svg);
    border: 0;
    width: 35px;
    height: 35px;
    transition: all 400ms ease;
    margin: 10px 10px 0 auto;
  }
  
  #mainNav button.expanded {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
  
    transform: rotate(90deg);
  }

  #mainNav li { 
      font-family: futura-pt, sans-serif;
      font-style: normal;
      font-weight: 300;
  }

  #mainNav li a {
      text-decoration: none;
      display: block;
      color: #fff;
      padding: 10px 0;
      text-align: center;
  }
  
  #mainNav li:last-child { margin-bottom: 5px; }
  
  #mainNav li a:hover { background-color: $theme-yellow; }

  // About Section

.titleBox-o { 
    display: block;
    margin: 100px auto 50px auto;

    width: 200px; 
}

.aboutT { 
    text-align: center;
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    border-bottom: 2px solid $theme-yellow;
}

#keywords {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    cursor: pointer;
    margin-bottom: 75px;

    font-family: verveine, sans-serif;
    font-style: normal;
    font-weight: 400;

}

.imgCon {
    width: 650px;
	height: 435px;
	background-color: grey;
	margin:0 auto;
    overflow: hidden;
  }

#keyImages {
    position: relative;
    width: 2600px; 
    transition: all .5s;
}

#keyImages img { float: left; }


// Works Section
.titleBox { 
    display: block;
    margin: 100px auto 50px auto;
    width: 300px; 
}

.title {
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-size: 2rem;
    font-weight: 600; 

    text-align: center;
    border-bottom: 2px solid $theme-yellow;
}

#works { margin-top: 100px; }

.works {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    min-width: 385px;
}

.works-panel {
    flex: 0 1 100%;
    margin-bottom: 75px;
    position: relative;
    
    img { max-width: 100%; }
}

.lb-content {
    width: 340px;

    li {
        display: inline-block;
        padding: 3px;
        margin: 5px; 
        font-family: futura-pt, sans-serif;
        font-style: normal;
        font-weight: 300;
        background-color: $theme-yellow;
    }

    h3 { 
        font-weight: 500; 
        font-size: 1.4rem;
        margin-bottom: 10px;
    }

    h3, p { line-height: 25px; }
}

.w-title {
    font-size: 1.5rem;
    text-align: center;

    margin-bottom: 20px;
}

//Contact Section

.contact-img { display: none; }

#contact {
    width: 374px;
    height: 499px;
}

#contact {
    margin: 0 auto;
    justify-content: space-evenly;

    label {
        font-size: 1.5rem;
        font-family: nudista-web, sans-serif;
        font-style: normal;
        font-weight: 100;
        padding-left: 7px;
    }

    input {
        font-size: 1.3rem;
        background-color: $theme-lightP;
        border: none;
        width: 355px;
        height: 60px;
        margin: 0  0 20px 10px;
    }

    textarea {
        font-size: 1rem;
        background-color: $theme-lightP;
        border: none;
        width: 355px;
        height: 90px;
        margin-left: 7px;
    }
}

.submitBut {
    font-size: 20px;
    
    width: 70px;
    height: 30px;
    padding: 7px;
    margin: 20px 10px;
    border: none;

    background-color: $theme-middleP;
}

button:hover { background-color: $theme-yellow; }

//Footer Section
.mainFooter {
    background-color: $theme-middleP;
    margin-top: 100px;
    text-align: center;

    img { 
        width: 30px;
        background-color: #fff;
        margin: 10px 0 0 10px;
    }
}

#to-top { 
    color: #fff;
    text-decoration: none;
    display: flex;
    justify-content: flex-end; 
    margin-right: 10px;
}

@import 'modules/tablet';
@import 'modules/desktop';