<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Page is broken, but don't panic!</title>

    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://use.typekit.net/pqo5dud.css">
</head>
<body>
    <div class="icons">
        <img src="images/error-icon.png" alt="error1">
        <img src="images/error-icon.png" alt="error2">
        <img src="images/error-icon.png" alt="error3">
    </div>
    <a href="/">Back Home!</a>
    <main class="error-wrapper">
        {{{ body }}}
    </main>
</body>
</html>