<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://use.typekit.net/ans6mvt.css">

  <title>Welcome to Stella's Portfolio</title>
</head>
<body>
  <main class="wrapper">
    <header class="mainHeader">
        <nav id="mainNav">
          <button id="button"></button>
          <div id="burgerCon">
            <ul id="burgerMenu">
              <li><a href="#works">Works</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
      </div>
      <img id="headerLogo" src="images/logo-horizon-whiteT.svg" alt="logo"> 
      <h1 class="homeText">Come Out to New Experiences!</h1>
    </header>

    <h1 class="aboutT">About Me</h1>
    <section class="about">
       <img class="about-img" src="images/aboutGahyun.jpg" alt="formal">
   
      <p class="aboutMe">
        I have been an interactive media design program at Fanshawe College. 
        Through many projects, I found an interest in coding. 
        I usually do the code job in most of the group projects; I improve my coding skills from those. 
        I would work as a developer once I finish this course.
        <br><br>
        I am always with my laptop even I'm not coding. 
        I like to browse some useful websites and finding design references. </p>
    </section>
    
    <section id="works">
      <h1 class="title">Featured Works</h1>

        {{{ body }}}
      <video controls> 
        <source src="/images/demo-reel.mp4" type="video/mp4">
        <source src="/images/demo-reel.ogg" type="video/ogg">
        <source src="/images/demo-reel.webm" type="video/webm">
      </video> 
    </section>


    <h2 class="title">Get in Touch!</h2>
    <section id="contact">
      <img class="contact-img" src="images/contact-image.png" alt="contact-img">
      <form action="data/contact.php" method="post"> 
      <div class="cName">
      <label for="name">Name</label>
      <input id="name" type="text" name="name" placeholder="name">
      </div>

      <div class="cEmail">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" placeholder="email">
      </div>

      <div class="cPhone">
      <label for="subject">Phone</label>
      <input id="number" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone" placeholder="phone">
      </div>

      <div class="cMessage">
      <label for="message">Message</label>
      <textarea id="message" name="message"></textarea>
      </div>

      <button class="submitBut" type="submit">Submit</button>
     </form>
    </section>

    <footer class="mainFooter">

      <a href="mailto:stellalee1119@gmail.com">
        <img src="images/gmail.png" alt="gmail">
      </a>
      <a href="https://www.facebook.com/profile.php?id=100003541800091">
        <img src="images/facebook.png" alt="facebook"> 
      </a>
      <a href="https://slack.com/intl/en-ca/">
        <img src="images/slack.png" alt="slack">
      </a>
      <a href="https://www.linkedin.com/in/stellalee1119/">
        <img src="images/linkedin.png" alt="linkedin">
      </a>

      <a id="to-top" href="#">back to top</a>
    </footer>

    <script type="module" src="js/main.js"></script>
  </main>
  
</body>
</html>
