<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-star.ico">
  <link rel="stylesheet" href="css/reset.css">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="https://use.typekit.net/ans6mvt.css">

  <title>Welcome to Stella's Portfolio</title>
</head>
<body>
  <main class="wrapper">
    <header class="mainHeader">
      <div class="logoCon">
        <nav id="mainNav">
          <button id="button"></button>
          <div id="burgerCon">
            <ul id="burgerMenu">
              <li><a href="#works">Works</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
      </div>
      <img id="headerLogo" src="images/logo-horizon-whiteT.svg" alt="logo"> 
      </div>
      <h1 class="homeText">Come Out to New Experiences!</h1>
    </header>


<section class="about">

  <div class="titleBox-o">
    <h1 class="aboutT">About Me</h1>
  </div>

       <ul id="keywords">
         <li><div class="keyCon crazy" data-offset="0">#Crazy</div></li>
         <li><div class="keyCon korea" data-offset="1">#Korea</div></li>
         <li><div class="keyCon adventure" data-offset="2">#Adventure</div></li>
         <li><div class="keyCon honesty" data-offset="3">#Honesty</div></li>
       </ul>

       <section class="imgCon">
       <div id="keyImages" style="right: 0;">
         <img src="images/about-crazy.png"/>
         <img src="images/about-korea.png"/>
         <img src="images/about-adventure.png"/>
         <img src="images/about-honesty.png"/>
       </div>
    </section>

    </section>
    <section id="works">
      <div class="titleBox">
        <h1 class="title">Featured Works</h1>
      </div>
        
        {{{ body }}}
      
      <video controls> 
        <source src="/images/demo-reel.mp4" type="video/mp4">
        <source src="/images/demo-reel.ogg" type="video/ogg">
        <source src="/images/demo-reel.webm" type="video/webm">
      </video> 
    </section>

    <div class="titleBox">
    <h2 class="title">Get in Touch</h2>
    </div>

    <section id="contact">
      
      <form action="data/contact.php" method="post"> 
      <div class="cName">
      <label for="name">Name</label>
      <input id="name" type="text" name="name" placeholder="name">
      </div>

      <div class="cEmail">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" placeholder="email">
      </div>

      <div class="cPhone">
      <label for="subject">Phone</label>
      <input id="number" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" name="phone" placeholder="phone">
      </div>

      <div class="cMessage">
      <label for="message">Message</label>
      <textarea id="message" name="message"></textarea>
      </div>

      <button class="submitBut" type="submit">Submit</button>
     </form>
    </section>

    <footer class="mainFooter">

      <a href="mailto:stellalee1119@gmail.com">
        <img src="images/gmail.png" alt="gmail">
      </a>
      <a href="https://www.facebook.com/profile.php?id=100003541800091">
        <img src="images/facebook.png" alt="facebook"> 
      </a>
      <a href="https://slack.com/intl/en-ca/">
        <img src="images/slack.png" alt="slack">
      </a>
      <a href="https://www.linkedin.com/in/stellalee1119/">
        <img src="images/linkedin.png" alt="linkedin">
      </a>

      <a id="to-top" href="#">back to top</a>
    </footer>

    <script type="module" src="js/main.js"></script>
  </main>
  
</body>
</html>
