@import '_vars';

@media screen and (min-width: $bp-desktop) {
  // Header Section
  .mainHeader {
    background-image: url("../images/homeIntro-tablet.png");
    background-repeat: no-repeat;
    width: 768px;
    height: 480px;
  }

  .homeText { 
    font-size: 2.5rem;
    text-align: center; 
  }

  #headerLogo { width: 200px; }

  #mainHeader { display: flex; margin-top: 20px; }

  //Nav Section
  #button { display: none; }

  #burgerCon { display: flex; flex-direction: column; margin: 0; }

  #mainNav {
    text-align: right;
    text-transform: uppercase;
    font-size: 1em;
  }

  #burgerMenu { text-align: right; }

  #mainNav li {
    border-bottom: none;
    display: inline-block;
    margin-top: 20px;

  }

  #mainNav li a {
    background-color: $theme-purple;
    display: inline-block;

    padding: 25px 15px;
    text-decoration: none;
    color: #fff;
  }

  #mainNav li a:hover {
    color: #000;
    font-weight: 600;
    background-color: $theme-yellow;
    padding: 25px 15;
  }

  #mainNav li:first-child { border-top: none; }

  #mainNav li:last-child { margin-bottom: 0; }

  //About
  
  // Work Section
  .project { max-width: 365px; }

  .lb-content { 
    img { width: 300px; }
    width: 650px;
    font-size: 2rem;
  }


  //Contact Section
  .contact-img { 
    max-width: 700px; 
    height: 930px;
  }

  #contact {
    width: 750px;
    margin: 0 auto;
    justify-content: space-evenly;

    label {
        font-size: 2rem;
        font-family: nudista-web, sans-serif;
        font-style: normal;
        font-weight: 100;
        padding-left: 14px;
        margin-bottom: 5px;
    }

    input {
        background-color: $theme-lightP;
        font-size: 1.5rem;
        border: none;
        width: 750px;
        height: 70px;
        margin-bottom: 10px;
    }
    
    textarea {
        background-color: $theme-lightP;
        border: none;
        width: 750px;
        height: 90px;
        margin-left: 7px;
    }
  }

  .submitBut {
    width: 100px;
    height: 50px;

    color: #fff;
    font-size: 1.5rem;
  }

  //Footer Section
  .mainFooter { margin-top: 200px; }
}

//Media query around 1280px
@media screen and (min-width: 75rem) {
  .wrapper {
    width: 1280px;
    margin: 0 auto;
  }
  
  .mainHeader {
    background-image: url("../images/homeIntro.png");
    width: 1280px;
    height: 800px;
  }

  .homeText { 
    font-size: 4rem; 
    text-align: center;
    margin-top: 70px; 
  }

  .lb-content { 
    img { width: 300px; }
    width: 850px;
    font-size: 1.5rem;
  }
}