@import '_vars';

@media screen and (min-width: $bp-tablet) {
  // Header section
  .homeText { font-size: 2rem; }
  
  //Nav Section
  #mainNav {
    display: flex;
    flex-direction: column;
  }
    
  #burgerCon {
    display: none;
    margin-top: 5px;
  }
      
  #burgerCon.slideToggle { display: block; }
    
  #mainNav button {
    background: url(../images/burgerCon.svg);
    border: 0;
    width: 35px;
    height: 35px;
    transition: all 400ms ease;
    margin: 10px 10px 0 auto;
  }
  
  #mainNav li a {
    text-decoration: none;
    display: block;
    color: #fff;
    padding: 10px 0;
    text-align: center;
  }
      
  #mainNav li:last-child { margin-bottom: 10px; }
      
  #mainNav li a:hover { background-color: $theme-yellow; }

 // About Section
 #keywords { 
   font-size: 2rem; 
   li:hover { background-color: #f9aaae; }
 }

 // Works Section 
  .works-panel { flex: 0 1 350px; }

  .contact-img { display: block; }
  
  // sFooter Section
  #contact { 
    background-image: none;
    display: flex;
    flex-direction: row;
  }
  
  .mainFooter img { width: 50px; }
}